.nav_main {
    width: 4rem;
    height: 100vh;
    background-color: $nav-background;
    padding-left: 0.5rem;
    // border-right: 1px solid $nav-border;
    position: fixed;
    overflow-x: hidden;
    // transition: 0.5s;
    z-index: 1;
}

.nav-expand-btn {
    vertical-align: middle;
    width: 3.4rem;
    text-align: end;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    // transition: 0.5s;
}

.nav-title-btns-div {
    vertical-align: middle;
    width: 14rem;
}

.nav-title-btns {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}